@media (max-width: 1199px){

}

@media (max-width: 991px){
  /*megamenu*/
  nav.main-navigation ul > li.megamenu > ul{
    margin-top: 15px;
    top: auto;
    padding-right: 0;
    max-height: 500px;
  }

  nav.main-navigation ul > li.megamenu > ul:before{
    display: none;
  }

  nav.main-navigation ul > li.megamenu > ul > li > a{
    display: block;
    width: 100%;
    text-align: left;
    padding: 15px;
    border-bottom: 0;
    border-top: 1px solid #e9e9e9;
    position: relative;
  }

  nav.main-navigation ul > li.megamenu > ul > li.active > a:after{
    display: none;
  }

  nav.main-navigation ul > li.megamenu > ul > li > a:after{
    content: "\f0d7";
    font-family: FontAwesome;
    position: absolute;
    right: 15px;
  }

  nav.main-navigation ul > li.megamenu > ul > li.active > a:after{
    content: " ";
  }

  nav.main-navigation ul > li.megamenu > ul > li > .content{ 
    position: static;
    width: 100%;
    padding: 0 15px 15px 15px;
  }

  nav.main-navigation ul > li.megamenu > ul > li.active > .content{

  }
  /*end of megamenu*/

  /*slider*/
  .slider{
    width: 100%;
    margin-bottom: 15px;
  }
  /*end of slider*/

  /*top group news*/
  .top-group-news{
    width: 100%;
  }
  /*end of top group news*/

  /*sidebar*/

  .sidebar{
    padding-left: 15px;
  }

  /*end of sidebar*/

  /*footer*/

  footer .describe{
    margin-bottom: 30px;
  }

  footer .related-link{
    float: none;
    margin-top: 20px;
  }

  /*end of footer*/
}

@media (min-width: 992px) and (max-width: 1199px){

  /*slider*/
  .slider{
    width: 482px;
    height: 292px;
  }
  /*end of slider*/

  /*top group news*/
  .top-group-news article{
    width: 214px;
    height: 139px;
  }
  /*end of top group news*/

  /*ads rectangle*/
  .ads-rect{
    display: none !important;
  }
  /*end of ads rectangle*/
}

@media (min-width: 768px) and (max-width: 991px){
}

@media (max-width: 767px){
  
  /*header*/

  header .socmed{
    text-align: left;
  }

  /*end of header*/

  /*navigation*/

  nav.main-navigation{
    display: block;
    height: 100%;
    margin-top: 15px;
    margin-left: -15px;
    margin-right: -15px;
    background: #e9e9e9;
    border-top: 1px solid #ddd;
  }

  nav.main-navigation .mobile-nav-button{
    padding: 15px 0;
    margin-right: 15px;
    display: block;
    overflow-y: auto;
  }

  nav.main-navigation .mobile-nav-button span{
    float: right;
  }

  nav.main-navigation .mobile-nav-button span:hover{
    cursor: pointer;
  }

  nav.main-navigation > ul{
    width: 100%;
    max-height: 350px;
    overflow-y: auto;
    display: block;
    background: #f1f1f1;
    border-top: 1px solid #ddd;
    position: absolute;
    z-index: 9999;
    display: none;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, .35);
    box-shadow: 0 3px 3px rgba(0, 0, 0, .35);
  }

  nav.main-navigation > ul.active{
    display: block;
  }

  nav.main-navigation ul > li{
    display: block;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
  }

  nav.main-navigation ul > li.sign-in{
    float: none;
  }

  nav.main-navigation ul > li > a{
    display: block;
    padding: 15px;
  }

  nav.main-navigation ul > li.megamenu.active > ul{
    max-height: 100%;
    overflow: visible;
    position: static;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  nav.main-navigation ul > li.megamenu > ul > li > .content > .row-content > article{
    width: 100%;
    margin-bottom: 30px;
  }

  nav.main-navigation ul > li.megamenu > ul > li > .content > .row-content > article:nth-child(3),
  nav.main-navigation ul > li.megamenu > ul > li > .content > .row-content > article:nth-child(4){
      margin-bottom: 0;
  }

  nav.main-navigation ul > li.megamenu > ul > li > .content > .row-content > article:nth-child(2){
    margin-right: 0;
  }

  /*end of navigation*/

  /*tab news*/
  .tab-news .row-content .right{
    margin-top: 30px;
  }
  /*end of tab news*/

  /*list news*/
  .list-news .image-news{
    float: none;
    display: block;
    margin-bottom: 20px;
    width: 100%;
  }

  .list-news .content-news{
    margin-left: 0;
  }
  /*end of list news*/

  /*timeline news*/

  .timeline-posting .list-timeline-posting .image-news-timeline{
    float: none;
    display: block;
    margin-bottom: 20px;
    width: 100%;
  }

  .timeline-posting .list-timeline-posting a h4,
  .timeline-posting .list-timeline-posting p,
  .timeline-posting .list-timeline-posting .meta{
    margin-left: 0;
  }

  /*end of timeline news*/

  /*footer*/

  footer .socmed{
    text-align: left;
  }

  /*end of footer*/
}

@media (max-width: 568px){

  /*slider*/
  .slider .row-slider article.content figure figcaption a{
    font-size: 18px;
    line-height: 20px;
  }
  /*end of slider*/

  /*top group news*/
  .top-group-news article{
    width: 100%;
  }
  /*end of top group news*/

  .tab-news section h4.nav{
    font-size: 12px;
    margin-right: 7px;
  }

  /*list news*/

  .list-news .content-news .writer-news,
  .list-news .content-news .readmore{
    display: block;
    float: none;
    width: 100%;
  }

  .list-news .content-news .writer-news{
    margin-bottom: 20px;
  }

  /*end of list news*/

  /*detail news*/

  .detail-news .meta-news .writer-news,
  .detail-news .meta-news .meta-counter{
    float: none;
    display: block;
    width: 100%;
  }

  .detail-news .meta-news .writer-news{
    margin-bottom: 20px;
  }

  .detail-news .meta-news .meta-counter{
    text-align: left;
  }

  /*end of detail news*/
}